# System
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
.env

# OpenClaw Workspace & Temporary
workspace/
wandb/
*.log
*.pdf
*.tex
*.zip

# Secrets
secrets.json
client_secret.json
bridge.json
qrcode.txt

# Editor
.vscode/
.idea/
